body {
  background: 
    linear-gradient(
      rgba(255, 255, 255, 0.4), 
      rgba(255, 255, 255, 0.4)
    ),
    url('../img/bg.png') no-repeat fixed;

  font-family: 'Walter Turncoat', sans-serif;
}

header {
  margin-bottom: 5%;
}

.battle-outcome, .score {
  font-weight: bold;
  font-size: 1.2em;
  max-width: 30%;
}

.character {
  float: left;
  margin-right: 20px;
}

.character:hover {
  cursor: pointer;
}

.battle-outcome {
  float: left;
}

.score {
  float: right;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enter {
  font-size: 4em;
  color: #000;
}

.enter:hover {
  text-decoration: none;
}

.levelUp {
  font-size: 4em;
}

img.character {
  height: 300px;
  float: left;
}

.space {
  text-align: center;
}

.space-pic {
  margin: 0 auto 0;
  border: 5px solid #444;
  border-radius: 20px;
}