body {
  background: 
    linear-gradient(
      rgba(255, 255, 255, 0.4), 
      rgba(255, 255, 255, 0.4)
    ),
    url('../img/bg.png') no-repeat fixed;
}

.character {
  display: block;
  margin-right: 20px;
}

.character:hover {
  cursor: pointer;
}

.battle-outcome {
  float: left;
}

.score {
  float: right;
}

img {
  height: 300px;
  float: left;
}