<!DOCTYPE html>
<html ng-app="12app">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <title>Twelve Gates</title>
</head>
<body>
  <header>
    <div class="container"> 
      <h1>Twelve Gates</h1>
    </div>    
  </header>
  <section ng-controller="gameCtrl as game">
    <div class="container gameboard">
      <button class="start btn" ng-click="runGame()" ng-show="!gameRunning">Start Game</button>
      <div ng-show="gameRunning">
        <h3 class="enemy-name" ng-click="beginLevel()"> {{ levels[currentLevel].name }}</h3>

        <button class="btn" ng-click="playRound()">Hit</button>

        <div ng-show="playerTurn">
          <p>{{ player.message }}</p> 
          <p>You do {{ playerHit }} damage to {{ levels[currentLevel].name }}</p>
        </div>

        <div ng-show="enemyTurn">
          <p>{{ levels[currentLevel].message }}</p> 
          <p>{{ levels[currentLevel].name }} does {{ enemyHit }} damage to You!</p>
        </div>

        <div class="score">
          <p>Your health: {{ playerHealth }}</p>
          <p>Health of {{ levels[currentLevel].name }}: {{ enemyHealth }}</p>
        </div>
        
      </div>


    </div>
  </section>
  <script src="js/game.js"></script>
</body>
</html>