<div class="container gameboard">
  <h3 class="enemy-name" ng-click="beginLevel()"> {{ levels[currentLevel].name }}</h3>
  <p class="lead">{{ levels[currentLevel].description }}</p>
  

  <button ng-disabled="playerTurn || levelUp" ng-click="playRound()" class="character btn-link"><img class="character" ng-src="img/{{ levels[currentLevel].img }}"/></button>

  <div ng-show="!dead">
    <div class="battle-outcome" ng-show="playerTurn">
      <p>{{ player.message }}</p> 
      <p>You do {{ playerHit }} damage to {{ levels[currentLevel].name }}</p>
    </div>

    <div class="battle-outcome" ng-show="enemyTurn">
      <p>{{ levels[currentLevel].message }}</p> 
      <p>{{ levels[currentLevel].name }} does {{ enemyHit }} damage to You!</p>
    </div>

    <div class="score">
      <p>Your health: {{ playerHealth }}</p>
      <p>Health of {{ levels[currentLevel].name }}: {{ enemyHealth }}</p>
    </div> 
  </div>

  <div class="levelUp" ng-show="levelUp">
    <p class="centered"> LEVEL UP!</p>
  </div>
          

  <div class="continue-game" ng-show="dead">
    <h3>You failed to beat the gatekeeper...</h3>
    <p class="lead">You stop for a moment, but courage rises up and you feel strong again.</p>
    <label for="continue">Are you ready to try again?</label>
    <button name="continue" class="btn" ng-click="continue()">YES</button>
  </div>

</div>